@font-face {
    font-family: vogue;
    src: url(Vogue.ttf)
}

@font-face {
    font-family: adelia;
    src: url(adelia.otf)
}

#date {
    font-family: vogue;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    z-index: 104;
}

#save-the-date-container {
    font-family: vogue;
    font-size: 1rem;
    align-items: center;
    font-weight: 400;
}

#save-header-the {
    z-index: 999;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    font-weight: 100;
    font-family: adelia;
}

#save-header-save {
    z-index: 999;
    padding-top: 0.2rem;
    padding-right: 1rem;
}

#save-header-date {
    z-index: 999;
    padding-top: 0.2rem
}

body {
    margin: 0px;

}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#names {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-family: adelia;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring-container {
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    height: 30px;
    width: 30px;
}

.ring {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid goldenrod;
    /* Adjust color as needed */
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

.ring2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid goldenrod;
    /* Adjust color as needed */
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    /* Rotate the second ring */
}

#cloud1 {
    z-index: 100;
    position: fixed;
    top: 18vh;
    left: 20vw;
}

#cloud2 {
    z-index: 100;
    position: fixed;
    top: 20vh;
    left: 63vw
}

#cloud3 {
    z-index: 103;
    position: fixed;
    top: 12vh;
    left: 35vw
}

#balloon {
    z-index: 102;
    position: absolute;
    top: 8vh;
    left: 0;
}


#hills {
    z-index: 103;
}

.card {
    position: absolute;
    overflow: hidden;
    background-color: #a2d5ff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 95vh;
    width: 90vw;
    color: black;
    font-weight: bold;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    /* Optional shadow for a more realistic look */
}


#formal-invitation {
    font-family: vogue;
    display: flex;
    flex-direction: column;
}