@font-face {
    font-family: vogue;
    src: url(Vogue.ttf)
}

@font-face {
    font-family: adelia;
    src: url(adelia.otf)
}

#date {
    font-family: vogue;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    z-index: 104;
}

#save-the-date-container {
    font-family: vogue;
    font-size: 2rem;
    align-items: center;
    font-weight: 400;
}

#save-header-the {
    z-index: 999;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 100;
    font-family: adelia;
}

#save-header-save {
    z-index: 999;
    padding-top: 0.2rem;
    padding-right: 1rem;
}

#save-header-date {
    z-index: 999;
    padding-top: 0.2rem
}

body {
    margin: 0px;

}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#names {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-family: adelia;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring-container {
    padding-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
    position: relative;
    height: 30px;
    width: 30px;
}

.ring {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid goldenrod;
    /* Adjust color as needed */
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
}

.ring2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid goldenrod;
    /* Adjust color as needed */
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
    /* Rotate the second ring */
}

#cloud1 {
    z-index: 100;
    position: absolute;
    top: 18vh;
    left: 20vw;
}

#cloud2 {
    z-index: 100;
    position: absolute;
    top: 20vh;
    left: 63vw
}

#cloud3 {
    z-index: 103;
    position: absolute;
    top: 12vh;
    left: 35vw
}

#balloon {
    z-index: 102;
    position: absolute;
    top: 8vh;
    left: 0;
    height: 8rem;
    width: 8rem
}


.stars {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 000vw;
    height: 100vh;
    transition: all 10s linear;
}

.star {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
}

.blink {
    animation: blink ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.star-0 {
    height: 0.5px;
    width: 0.5px;
}

.star-1 {
    height: 1px;
    width: 1px;
}

.star-2 {
    height: 1.5px;
    width: 1.5px;
}

.star-3 {
    height: 2px;
    width: 2px;
}

.star-4 {
    height: 2.5px;
    width: 2.5px;
    box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.5);
}

.star-5 {
    height: 2.5px;
    width: 2.5px;
    box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.7);
}

.stars-cross {
    position: absolute;
    top: 10vh;
    left: 0px;
    width: 120vw;
    height: 20vh;
    transform: rotate(20deg);
    transform-origin: top left;
}

.stars-cross-aux {
    position: absolute;
    top: 0vh;
    left: 10vw;
    width: 120vw;
    height: 10vh;
    transform: rotate(20deg);
    transform-origin: top left;
}

.stars-cross>.blur,
.stars-cross-aux>.blur {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    filter: blur(15px);
    width: 5px;
    height: 10px;
}


#hills {
    position: absolute;
    z-index: 103;
    bottom: -10vw;
    width: 110vw;
}

#card {
    position: absolute;
    overflow: hidden;
    background-color: #a2d5ff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: black;
    font-weight: bold;
    /*box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);*/
    /* Optional shadow for a more realistic look */
}


#formal-invitation {
    font-family: vogue;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 14rem;
}

#message {
    font-size: 1.4rem;
}

/* Responsive font sizes for smaller screens */
@media only screen and (max-width: 600px) and (min-height: 600px) {

    #balloon {
        height: 5rem;
        width: 5rem
    }

    .ring,
    .ring2 {
        width: 15px;
        height: 15px;
    }

    .ring-container {
        padding-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
    }


    .ring {
        border: 2px solid goldenrod;
        left: 20px;
    }

    .ring2 {
        border: 2px solid goldenrod;
        left: 10px;
    }

    #date {
        font-size: 2rem;
    }

    #save-the-date-container {
        font-size: 0.8rem;
    }

    #save-header-the {
        font-size: 1.2rem;
    }

    #names {
        font-size: 1rem;
    }

    #formal-invitation {
        font-size: 1rem;
        margin-bottom: 6rem;
    }

    #message {
        font-size: 0.6rem;
    }
}